.content{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(to top, #1e1a1a, black);
    z-index: 1000;
  }
  &__fire-icon{
    color: #f3cc14;
  }
    &__search{
      width: 300px;
      margin: 0 auto;
      padding-top: 100px;
      color: #ffffff;
      font-size: 1rem;
      position: relative;

      & input{
        width: 100%;
        border-radius: 20px;
        padding: 4px 22px 4px 25px;
        background-color: #332a2a;
        font-weight: 600;
        outline: none;
        border: none;
      }
      &-icon{
        position: absolute;
        left: 4px;
        bottom: 4px;
      }
      & input:focus{
        background-color: #423636;
      }
    }
  &__close-icon{
    position: absolute;
    color: bisque;
    font-size: 1rem;
    opacity: 0.8;
    right: 6px;
    cursor: pointer;
    bottom: 4px;
    &:hover{
      opacity: 1;
    }
  }
}



.pageCount{
  display: flex;
  margin-top: 100px;
  margin-bottom: 90px;
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
    background-color: #3c9898;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    &:first-child{
      margin-left: 0;
    }
    &:hover{
      background-color: #43bebe;
    }
    &--active{
      background-color: #31d05c;
    }
    &--active:hover{
      background-color: #31d05c;
    }
  }
}
