.film{
  height: 150vh;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(49, 48, 41, 0.6);
    z-index: -1;
  }
  &__display{
    display: flex;
    padding-top: 110px;
  }
  &__poster{
    position: absolute;
    height: 100%;
    z-index: -2;
  }
  &__picture{
    width: 460px;
    height: 660px;
  }
  &__information{
    list-style: none;
    margin-left: 20px;
  }
  &__item{
    color: #f3cc14;
    width: 760px;
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    background-color: rgba(38, 33, 33, 0.24);
    margin-bottom: 22px;
    padding: 10px 20px;
    border: 3px solid #2f5ebd;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color .1s ease;
    user-select: none;
    &:hover{
      background-color: #587dc0;
    }
  }
}
